{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Clientes.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Clientes - Rede Sigma</title>
</head>
<body>
    <header>
        <nav>
            <img src="images/logo1.png" class="logo" alt="" >
            <div class="menu">
                <a href="/polls/home">Inicio</a>
                <a href="/polls/veiculos">Veículos</a>
                <a href="/polls/operacoes">Operações</a>
            </div>
            
            <div class="social">
                <a href="/polls/login"><i class="fa-solid fa-right-from-bracket"></i></a>
                <a href="https://github.com/JotaMarcos/PropostaProjetoSigma/tree/main"><i class="fa-brands fa-github"></i></a>
            </div>
            
        </nav>
    </header>
    <div class="hero">
        <section id="clientes">     
            <div class="card">       
                <div class="text">
                    <button class="btn" onclick="atualizarListaClientes()">Atualizar</button>
                    <h2>Lista de Clientes</h2>
                    <ul id="lista-clientes"></ul>
                    <button class="btn" onclick="adicionarCliente()">Adicionar Cliente</button>
                </div>
            </div>
        </section>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>